.most-listened-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  border-radius: 4px;
  position: relative;
}
.item-name {
  display: flex;
  align-items: center;
  width: 50%;
}
.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
.most-listened-item:hover {
  background: rgba(128, 128, 128, 0.254);
}
.most-listened-item:hover .play-button {
  visibility: visible;
}
.most-listened-item:hover .number {
  visibility: hidden;
}
.most-listened span {
  color: gray;
  font-size: 15px;
}
.play-button {
  position: absolute;
  left: 13px;
  visibility: hidden;
}
