.most-listened-body {
  margin-top: 40px;
  padding: 0px 20px;
}
.most-listened {
  margin: 0px 40px;
}
.most-listened-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  border-radius: 4px;
}
.item-name {
  display: flex;
  align-items: center;
  width: 55%;
}
.item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
}

.most-listened-item:hover {
  background: rgba(128, 128, 128, 0.254);
}
.most-listened span {
  color: gray;
  font-size: 15px;
}
