.main-menu {
  height: 85%;
  width: 100%;
  padding: 24px 0px 0px 24px;
}
.top-section h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 5px;
}
.top-section {
  margin-bottom: 20px;
}
.cards {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}
.card-body {
  display: grid;
  grid-template-columns: repeat(8, auto);
  gap: 30px;
  width: 100%;
  margin-top: 20px;
}
.cards-header {
  width: 98%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.see-all {
  font-size: 0.75rem;
  font-weight: bold;
  color: #909090;
}
.see-all:hover {
  text-decoration: underline;
  cursor: pointer;
}